# Accident Incident Data & Aviation Accident Reports

The NTSB issues an accident report following the investigation. These reports are available online for reports issued since 1996, with older reports coming online soon. The reports listing is sortable by the event date, report date, city, and state. Click on any of those headings to sort the data.

In [52]:
import numpy as np
import pandas as pd

In [53]:
url ="https://www.faa.gov/data_research/accident_incident/"

In [54]:
aid_tables = pd.read_html(url)
aid_tables

[                                      Event                Date
 0    Piedmont Airlines 4860 — Kingsport, TN       June 26, 2019
 1                    N8145X — Kingsport, TN      March 29, 2019
 2                      N5894Y — Pahokee, FL       March 8, 2019
 3                     N67WR — Kingsport, TN  September 19, 2018
 4                     C-GODA — Richmond, VA   September 5, 2018
 ..                                      ...                 ...
 104          South Florida Midair Collision    December 8, 2007
 105                    LAX Runway Incursion     August 16, 2007
 106                    FLL Runway Incursion       July 11, 2007
 107                          N501N Accident       July 10, 2007
 108                    Comair 5191 Accident     August 27, 2006

 [109 rows x 2 columns]]

In [55]:
Accident_Incident_Data_df = aid_tables[0]
Accident_Incident_Data_df.head(20)

                                                Event                Date
0              Piedmont Airlines 4860 — Kingsport, TN       June 26, 2019
1                              N8145X — Kingsport, TN      March 29, 2019
2                                N5894Y — Pahokee, FL       March 8, 2019
3                               N67WR — Kingsport, TN  September 19, 2018
4                               C-GODA — Richmond, VA   September 5, 2018
5                                   N101CV — New York     August 21, 2018
6              N99055 — Lake Shore Drive, Chicago, IL       July 27, 2018
7                             Southwest Airlines 1380      April 17, 2018
8                          N106ER — Daytona Beach, FL       April 4, 2018
9   United Airlines 135 — Newark Liberty Internati...       July 30, 2017
10                            N2173S — Marineland, FL       July 13, 2017
11                      PSA Airlines 5559 — Selma, AL       June 21, 2017
12                               TMC460 — Buffalo, NY       June 10, 2017
13                          N20825 — Myrtle Beach, SC         May 9, 2017
14             N15745 — Bayonne, NJ Emergency Landing   February 19, 2017
15         N89HU — John Wayne Airport Taxiway Landing   February 13, 2017
16                           N614SB — Cleveland, Ohio   December 29, 2016
17       N1839X — McGhee Tyson Airport, Knoxville, TN   December 26, 2016
18                         N15294 — East Hartford, CT    October 11, 2016
19          U.S. Air Force A10 Flight — Charlotte, NC     August 29, 2016

In [56]:
url ='https://www.ntsb.gov/investigations/AccidentReports/Pages/aviation.aspx'

In [57]:
aar_tables = pd.read_html(url)
aar_tables

[    Report Number                                         NTSB Title  \
 0       ASR-20-06  Provide Inspectors with Automatic Notification...
 1       ASR-20-05  F&M Enterprises and Stratus Oil Filter Adapter...
 2       AAR-20-02  Rapid Descent and Crash into Water Atlas Air I...
 3       ASR-20-04  Install Flight Data, Audio, and Image Recorder...
 4       AAR-20-01  Helicopter Air Ambulance Collision with Terrai...
 ..            ...                                                ...
 515     AAR-67-AA             ​United Air Lines, Inc., B-727, N7036U
 516     AAR-67-AB   ​Lear Jet Corporation, Lear Jet Model 23, N8041J
 517     AAR-67-AF            ​West Coast Airlines, Inc., DC-9, N9101
 518     AAR-67-AD   ​Japan Air Lines, Ltd., Douglas DC-8-33, JA-8006
 519     AAR-67-AC  ​Paul Kelly Flying Service, Inc., Lear Jet 23,...

     Accident Date Report Date           City     State Country     NTISNumber  \
 0       6/21/2019  12/16/2020       Mokuleia        HI     USA            NaN
 1      11/30/2020  11/30/2020       Multiple  Multiple     NaN            NaN
 2       2/23/2019   7/14/2020    Trinity Bay        TX     USA  PB2020-101004
 3        7/1/2017   5/19/2020       Multiple  Multiple     USA            NaN
 4       1/29/2019   5/19/2020        Zaleski        OH     USA  PB2020-101001
 ..            ...         ...            ...       ...     ...            ...
 515     8/16/1965  12/19/1967            NaN       NaN     NaN      PB-196965
 516    10/21/1965  12/11/1967        Jackson        MI     NaN      PB-196962
 517     10/1/1966  12/11/1967          Wemme        OR     NaN      PB-196963
 518    12/25/1965   6/26/1967  San Francisco        CA     NaN      PB-196968
 519    11/14/1965   6/19/1967   Palm Springs        CA     NaN      PB-196966

     Report
 0      PDF
 1      PDF
 2      PDF
 3      PDF
 4      PDF
 ..     ...
 515    NaN
 516    NaN
 517    NaN
 518    NaN
 519    NaN

 [520 rows x 9 columns]]

In [68]:
Aviation_Accident_Reports_df = aar_tables[0]
Aviation_Accident_Reports_df.head()

,Report Number,NTSB Title,Accident Date,Report Date,City,State,Country,NTISNumber,Report
0,ASR-20-06,Provide Inspectors with Automatic Notification...,6/21/2019,12/16/2020,Mokuleia,HI,USA,NaN,PDF
1,ASR-20-05,F&M Enterprises and Stratus Oil Filter Adapter...,11/30/2020,11/30/2020,Multiple,Multiple,NaN,NaN,PDF
2,AAR-20-02,Rapid Descent and Crash into Water Atlas Air I...,2/23/2019,7/14/2020,Trinity Bay,TX,USA,PB2020-101004,PDF
3,ASR-20-04,"Install Flight Data, Audio, and Image Recorder...",7/1/2017,5/19/2020,Multiple,Multiple,USA,NaN,PDF
4,AAR-20-01,Helicopter Air Ambulance Collision with Terrai...,1/29/2019,5/19/2020,Zaleski,OH,USA,PB2020-101001,PDF

In [71]:
# drop 'NTISNumber','Report' and  NaN
Aviation_Accident_Report_df = Aviation_Accident_Reports_df.drop(['NTISNumber','Report'],axis=1)
Aviation_Accident_Report_df.dropna(inplace=True)
Aviation_Accident_Report_df

,Report Number,NTSB Title,Accident Date,Report Date,City,State,Country
0,ASR-20-06,Provide Inspectors with Automatic Notification...,6/21/2019,12/16/2020,Mokuleia,HI,USA
2,AAR-20-02,Rapid Descent and Crash into Water Atlas Air I...,2/23/2019,7/14/2020,Trinity Bay,TX,USA
3,ASR-20-04,"Install Flight Data, Audio, and Image Recorder...",7/1/2017,5/19/2020,Multiple,Multiple,USA
4,AAR-20-01,Helicopter Air Ambulance Collision with Terrai...,1/29/2019,5/19/2020,Zaleski,OH,USA
7,AAR-19-04,Inadvertent Activation of the Fuel Shutoff Lev...,3/11/2018,12/10/2019,New York,NY,USA
8,AAR-19-03,Left Engine Failure and Subsequent Depressuriz...,4/17/2018,11/19/2019,Philadelphia,PA,USA
10,AAR-19-02,Departure From Controlled Flight Trans-Pacific...,5/15/2017,3/12/2019,Teterboro,NJ,USA
11,AAR-19-01,Runway Overrun During Rejected Takeoff Amerist...,5/8/2017,2/14/2019,Ypsilanti,MI,USA
13,AIR1801,Taxiway Overflight Air Canada Flight 759 Airbu...,7/7/2017,9/25/2018,San Francisco,CA,USA
14,ASR1803,Safety Recommendation Report: Guidance on the ...,4/28/2017,8/2/2018,Amarillo,TX,USA
15,AAR1802,Collision with Terrain Hageland Aviation Servi...,10/2/2016,4/17/2018,Togiak,AK,USA
17,AAR1801,​Uncontained Engine Failure and Subsequent Fir...,10/28/2016,1/30/2018,Chicago,IL,USA
19,AAR1703,Impact with Power Lines Heart of Texas Hot Air...,7/30/2016,10/17/2017,Lockhart,TX,USA
21,AAR1702,"Collision with Terrain Promech Air, Inc. de Ha...",6/25/2015,4/25/2017,Ketchikan,AK,USA
22,AAR1701,​Aircraft Accident Report: Loss of Control at ...,7/3/2015,3/28/2017,Frisco,CO,USA
25,ASR1701,​Safety Recommendation Report: Unsafe Wiring C...,7/29/2016,1/5/2017,McKinleyville,CA,USA
29,AAR1603,Crash During Nonprecision Instrument Approach ...,11/10/2015,10/18/2016,Akron,OH,USA
30,AAR1602,Runway Excursion During Landing Delta Air Line...,3/5/2015,9/13/2016,New York,NY,USA
38,AAR1502,In-Flight Breakup During Test Flight Scaled Co...,10/31/2014,7/28/2015,Near Koehn Dry Lake,CA,USA
44,AAR1401,​Descent Below Visual Glidepath and Impact Wit...,7/6/2013,6/24/2014,San Francisco,CA,USA
102,AAR0302,Loss of Pitch Control on Takeoff Emery Worldwi...,2/16/2000,8/5/2003,Rancho Cordova,CA,USA
204,AAR8703,​​Aircraft Accident Report: Grand Canyon Airli...,6/18/1986,7/24/1987,Grand Canyon,AZ,USA
278,AAR-81-07,"Continental Airlines Air Micronesia, Inc., Boe...",11/21/1980,5/27/1981,Yap,FM,Federated States of Micronesia
327,AAR-78-06,Aircraft Accident Report L & J Company Convair...,10/20/1977,6/19/1978,Gillsburg,MS,USA
413,AAR-73-02,"American Airlines, Inc., McDonnell Douglas DC-...",6/12/1972,2/28/1973,Windsor,ON,Canada
448,AAR-72-10,"Flying Tiger Line, Inc., Douglas DC-8-63F, N785FT",7/27/1970,12/29/1971,Okinawa,Ryukyu Islands,Japan
467,AAR-70-26,"Air France, Boeing 747-128, F-BPUD",8/17/1970,10/7/1970,St. Jean,QC,Canada
513,AAR67AG,"Aircraft Accident Report: Delta Air Lines, INC...",3/30/1967,12/20/1967,Kenner,LA,USA

In [72]:
Aviation_Accident_Report_df.to_csv('Aviation_Accident_Report_df.csv')